{
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer", 
    "@semantic-release/release-notes-generator", 
    ["semantic-release-chrome", {
      "extensionId": "kahnhlonadjlllgnilndafpajaiepdag",
      "asset": "sonatype-platform-browser-extension.zip",
      "distFolder": "build"
    }],
    ["@semantic-release/github", {
      "assets": "build/*.tgz"
    }]
  ]
}
