.nx-list__term {
    width: 150px !important;
    font-size: 90% !important;
}

.nx-policy-violation-indicator {
    width: 100px !important;
}

.nx-list__description {
    font-size: 90% !important;
}

.componentinfo-threat-indicator {
    margin-bottom: var(--nx-spacing-4x) !important;
}

#security-threat {
    padding-top: 10px !important;
}

.nx-card {
    min-width: unset !important;
    padding-top: 10px !important;
}

#max-policy-header {
    margin-bottom: 0px !important;
}

#max-policy-content {
    margin-top: 0px !important;
}

.nx-read-only__label {
    margin-bottom: 0px !important;
}

.nx-read-only__data {
    margin-bottom: 10px !important;
}

.nx-list-in-cell:first-child {
    border: none !important;
    padding-top: 0px;
}

#hash {
    color: hsl(0, 0%, 60%);
}

#code-url {
    font-size: 12px;
}

.nx-card__footer {
    padding-top: 5px !important;
}

.nx-card__content {
    margin-bottom: 5px !important;
}

#highest-policy-threat-levels {
    position: absolute;
    bottom: 0;
}

#first-componentinfo-row {
    margin-top: 40px !important;
}
