.sonatype-iq-extension-vuln-critical {
    border: 3px solid var(--nx-color-threat-critical) !important;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 8px var(--nx-color-threat-critical);
}

.sonatype-iq-extension-vuln-critical:before {
    content: url('chrome-extension://__MSG_@@extension_id__/images/sonatype-platform-icon-critical.png');
    vertical-align: top;
    padding-right: 10px;
}

.sonatype-iq-extension-vuln-severe {
    border: 3px solid var(--nx-color-threat-severe) !important;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 8px var(--nx-color-threat-severe);
}

.sonatype-iq-extension-vuln-severe:before {
    content: url('chrome-extension://__MSG_@@extension_id__/images/sonatype-platform-icon-severe.png');
    vertical-align: top;
    padding-right: 10px;
}

.sonatype-iq-extension-vuln-moderate {
    border: 3px solid var(--nx-color-threat-moderate) !important;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 8px var(--nx-color-threat-moderate);
}

.sonatype-iq-extension-vuln-moderate:before {
    content: url('chrome-extension://__MSG_@@extension_id__/images/sonatype-platform-icon-moderate.png');
    vertical-align: top;
    padding-right: 10px;
}

.sonatype-iq-extension-vuln-low {
    border: 3px solid var(--nx-color-threat-moderate) !important;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 8px var(--nx-color-threat-moderate);
}

.sonatype-iq-extension-vuln-low:before {
    content: url('chrome-extension://__MSG_@@extension_id__/images/sonatype-platform-icon-low.png');
    vertical-align: top;
    padding-right: 10px;
}

.sonatype-iq-extension-vuln-none {
    border: 3px solid var(--nx-color-threat-none) !important;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 8px var(--nx-color-threat-none);
}

.sonatype-iq-extension-vuln-unspecified:before {
    content: url('chrome-extension://__MSG_@@extension_id__/images/sonatype-platform-icon-unspecified.png');
    vertical-align: top;
    padding-right: 10px;
}

.sonatype-iq-extension-vuln-unspecified {
    border: 3px solid black !important;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 8px black;
}

.sonatype-iq-extension-vuln-none:before {
    content: url('chrome-extension://__MSG_@@extension_id__/images/sonatype-platform-icon-none.png');
    vertical-align: top;
    padding-right: 10px;
}

.sonatype-iq-extension-vuln-evaluating:before {
    content: url('chrome-extension://__MSG_@@extension_id__/images/sonatype-platform-spinning.gif');
    vertical-align: top;
    padding-right: 10px;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}